<div class="container-fluid bg-dark">
<div class="d-flex justify-content-center pt-3 mb-2" style="text-align:center">
  <img width="300" alt="Angular Logo" src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg">
</div>

<div class="row">
  <div class="col-lg-12">

    <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" routerLink="/informacion" >Información</a>
  </li>
</ul>
  </div>
</div>
</div>
